html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fbf3;
  color: #374836;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.small-container {
  max-width: 1063px;
  margin: 0 auto;
  padding-left: 188px;
  padding-right: 188px;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #242924;
  padding: 32px 0px;
  z-index: 100;
  transition: background-color 0.3s;
}
.header .header-container {
  position: relative;
  align-items: center;
}
.header .header-container .header-logo {
  position: absolute;
  left: 0px;
}
.header .header-container .header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  height: 42px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
}
.header .header-container .header-menu a {
  text-decoration: none;
  color: #242924;
}
.header .header-container .header-menu .header-menu-item {
  cursor: pointer;
}
.header .header-container .burger-menu-btn {
  width: 24px;
  height: 24px;
  background-image: url(images/burger-menu-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.header .burger-menu-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header .burger-menu {
  position: absolute;
  top: -100vh;
  left: 0px;
  width: calc(100% - 64px);
  background-color: #f9fbf3;
  z-index: 1500;
  color: #374836;
  padding: 60px 32px 25px;
  transition: top 0.3s;
}
.header .burger-menu .header-menu-item {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}
.header .burger-menu > a {
  color: #374836;
  text-decoration: none;
}
.header .burger-menu .close-burger-btn {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 24px;
  height: 24px;
  background-image: url(images/close-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1100;
}
.header .burger-menu.active {
  top: 0px;
}
.header .burger-menu-bg.active {
  display: block;
}

.header.active-bg {
  background-color: rgba(249, 251, 243, 0.7607843137);
  border-bottom: 1px solid #f9fbf3;
}
.header.active-bg .header-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: -1;
}

.main .projects-section {
  padding-top: 212px;
}
.main .projects-section .projects-title {
  font-size: 80px;
  font-weight: 600;
  line-height: 88px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main .projects-section .projects-title span {
  font-weight: 600;
  color: #849d83;
}
.main .projects-section .projects-subtitle {
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 24px;
}
.main .projects-section .project-item {
  margin-bottom: 50px;
}
.main .projects-section .project-item .project-img-wrapper {
  overflow: hidden;
  max-height: 480px;
  display: flex;
  align-items: center;
}
.main .projects-section .project-item .project-img-wrapper > img {
  width: 100%;
}
.main .projects-section .project-item .project-item-text-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.main .projects-section .project-item .project-item-text-container .project-item-text-name-and-location {
  display: flex;
  gap: 42px;
}
.main .projects-section .project-item .project-item-text-container .project-item-text-name-and-location .project-item-text-wrapper .project-item-text-subtitle {
  line-height: 24px;
  text-transform: uppercase;
  color: #7f8f80;
}
.main .projects-section .project-item .project-item-text-container .project-item-text-name-and-location .project-item-text-wrapper .project-item-text-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #374836;
}
.main .projects-section .project-item .project-item-text-container .project-item-text-description {
  width: 40%;
  color: #7f8f80;
  line-height: 24px;
}
.main .contacts-section {
  background-color: #374836;
  color: #ffffff;
  padding: 96px 0px;
  background-image: url(images/contacts-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.main .contacts-section .contacts-container {
  display: flex;
  justify-content: space-between;
}
.main .contacts-section .contacts-container .contacts-title {
  font-size: 80px;
  font-weight: 300;
  line-height: 88px;
  text-transform: uppercase;
}
.main .contacts-section .contacts-container .contacts-title span {
  color: #849d83;
  font-weight: 700;
}
.main .contacts-section .contacts-container .contacts-wrapper {
  width: 50%;
  line-height: 26px;
}
.main .contacts-section .contacts-container .contacts-wrapper .bold-text {
  font-weight: 700;
}
.main .contacts-section .contacts-container .contacts-wrapper .contacts-item:first-child {
  margin-bottom: 30px;
}

.footer {
  background-color: #242924;
  padding: 82px 0px;
  color: #ffffff;
}
.footer .footer-title {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer .footer-links-container {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}
.footer .footer-links-container a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer .footer-copyright-container {
  border-top: 1px solid #ffffff;
  margin-top: 80px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-copyright-container p {
  opacity: 0.75;
}
.footer .footer-copyright-container a {
  text-decoration: none;
  color: white;
  opacity: 0.75;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

/* 

--------			--------
--------  Adaptive  -------- 
--------			--------

*/
@media (max-width: 1200px) {
  .small-container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .main .contacts-section .contacts-container {
    flex-direction: column;
    gap: 24px;
  }
  .main .contacts-section .contacts-container .contacts-wrapper {
    display: flex;
    gap: 36px;
  }
}
@media (max-width: 992px) {
  .container,
  .small-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header .header-container {
    display: flex;
    justify-content: flex-end;
  }
  .header .header-container .header-menu {
    display: none;
  }
  .header .header-container .burger-menu-btn {
    display: block;
  }
  .main .projects-section {
    padding-top: 130px;
  }
  .main .projects-section .projects-wrapper {
    margin-right: 0px;
  }
  .main .projects-section .projects-wrapper .projects-swiper {
    display: none;
  }
  .main .projects-section .projects-wrapper .projects-tablet-swiper {
    display: block;
    margin-left: 0;
  }
  .main .projects-section .projects-wrapper .projects-tablet-swiper .swiper-pagination {
    margin-left: -15px;
  }
  .main .projects-section .projects-wrapper .projects-tablet-swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: #374836;
  }
  .main .projects-section .projects-wrapper .projects-link-wrapper {
    display: none;
  }
  .main .projects-section .project-item .project-item-text-container {
    flex-direction: column;
    gap: 16px;
  }
  .main .projects-section .project-item .project-item-text-container .project-item-text-name-and-location {
    flex-direction: column;
    gap: 16px;
  }
  .main .projects-section .project-item .project-item-text-container .project-item-text-description {
    width: 100%;
  }
  .main .contacts-section .contacts-container .contacts-title {
    font-size: 56px;
    line-height: 66px;
  }
  .main .contacts-section .contacts-container .contacts-wrapper {
    width: 100%;
  }
  .footer .footer-links-container {
    flex-direction: column;
    gap: 12px;
  }
  .footer .footer-links-container a {
    margin-bottom: 12px;
  }
  .footer .footer-links-container a:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .container,
  .small-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .projects-section {
    padding-top: 90px;
  }
  .main .projects-section .projects-title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 16px;
  }
  .main .projects-section .project-item .project-item-text-container {
    margin-top: 16px;
  }
  .main .contacts-section {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
    padding-top: 22px;
    padding-bottom: 30px;
    background-size: 120%;
    background-position: right -100px bottom -50px;
  }
  .main .contacts-section .contacts-container .contacts-title {
    font-size: 32px;
    line-height: 42px;
  }
  .main .contacts-section .contacts-container .contacts-wrapper {
    flex-direction: column;
  }
  .main .contacts-section .contacts-container .contacts-wrapper .contacts-item:first-child {
    margin-bottom: 0;
  }
  .footer {
    padding-top: 19px;
    padding-bottom: 13px;
  }
  .footer .footer-links-container a {
    font-size: 12px;
    line-height: 24px;
  }
  .footer .footer-copyright-container {
    margin-top: 16px;
    padding-top: 32px;
    flex-direction: column-reverse;
    gap: 32px;
    text-align: center;
    line-height: 24px;
  }
}
@media (max-width: 350px) {
  .main .contacts-section .contacts-container .contacts-title {
    font-size: 26px;
    line-height: 36px;
  }
}