@use 'reset.scss';

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f9fbf3;
	color: #374836;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
}

.small-container {
	max-width: 1063px;
	margin: 0 auto;
	padding-left: 188px;
	padding-right: 188px;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #242924;
	padding: 32px 0px;
	z-index: 100;
	transition: background-color 0.3s;
	.header-container {
		position: relative;
		align-items: center;
		.header-logo {
			position: absolute;
			left: 0px;
		}
		.header-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 48px;
			height: 42px;
			font-family: 'Roboto Condensed', sans-serif;
			text-transform: uppercase;
			line-height: 24px;
			a {
				text-decoration: none;
				color: #242924;
			}
			.header-menu-item {
				cursor: pointer;
			}
		}
		.burger-menu-btn {
			width: 24px;
			height: 24px;
			background-image: url(images/burger-menu-btn.svg);
			background-position: center;
			background-repeat: no-repeat;
			display: none;
		}
	}
	.burger-menu-bg {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100vh;
		display: none;
		backdrop-filter: blur(5px);
	}
	.burger-menu {
		position: absolute;
		top: -100vh;
		left: 0px;
		width: calc(100% - 64px);
		background-color: #f9fbf3;
		z-index: 1500;
		color: #374836;
		padding: 60px 32px 25px;
		transition: top 0.3s;
		.header-menu-item {
			text-transform: uppercase;
			font-family: 'Roboto Condensed', sans-serif;
			line-height: 24px;
			letter-spacing: 0.05em;
			margin-bottom: 16px;
		}
		> a {
			color: #374836;
			text-decoration: none;
		}
		.close-burger-btn {
			position: absolute;
			top: 30px;
			right: 15px;
			width: 24px;
			height: 24px;
			background-image: url(images/close-img.svg);
			background-repeat: no-repeat;
			background-position: center;
			z-index: 1100;
		}
	}
	.burger-menu.active {
		top: 0px;
	}
	.burger-menu-bg.active {
		display: block;
	}
}
.header.active-bg {
	background-color: #f9fbf3c2;
	border-bottom: 1px solid #f9fbf3;
	.header-bg {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(5px);
		z-index: -1;
	}
}

.main {
	.projects-section {
		padding-top: 212px;
		.projects-title {
			font-size: 80px;
			font-weight: 600;
			line-height: 88px;
			text-transform: uppercase;
			margin-bottom: 24px;
			span {
				font-weight: 600;
				color: #849d83;
			}
		}
		.projects-subtitle {
			font-weight: 300;
			line-height: 26px;
			margin-bottom: 24px;
		}
		.project-item {
			margin-bottom: 50px;
			.project-img-wrapper {
				overflow: hidden;
				max-height: 480px;
				display: flex;
				align-items: center;
				> img {
					width: 100%;
				}
			}
			.project-item-text-container {
				margin-top: 40px;
				display: flex;
				justify-content: space-between;
				// align-items: center;
				.project-item-text-name-and-location {
					display: flex;
					gap: 42px;
					.project-item-text-wrapper {
						.project-item-text-subtitle {
							line-height: 24px;
							text-transform: uppercase;
							color: #7f8f80;
						}
						.project-item-text-title {
							font-size: 20px;
							font-weight: 700;
							line-height: 30px;
							text-transform: uppercase;
							color: #374836;
						}
					}
				}
				.project-item-text-description {
					width: 40%;
					color: #7f8f80;
					line-height: 24px;
				}
			}
		}
	}
	.contacts-section {
		background-color: #374836;
		color: #ffffff;
		padding: 96px 0px;
		background-image: url(images/contacts-bg.png);
		background-position: center;
		background-repeat: no-repeat;
		.contacts-container {
			display: flex;
			justify-content: space-between;
			.contacts-title {
				font-size: 80px;
				font-weight: 300;
				line-height: 88px;
				text-transform: uppercase;
				span {
					color: #849d83;
					font-weight: 700;
				}
			}
			.contacts-wrapper {
				width: 50%;
				line-height: 26px;
				.bold-text {
					font-weight: 700;
				}
				.contacts-item:first-child {
					margin-bottom: 30px;
				}
			}
		}
	}
}

.footer {
	background-color: #242924;
	padding: 82px 0px;
	color: #ffffff;
	.footer-title {
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.footer-links-container {
		display: flex;
		justify-content: space-between;
		gap: 54px;
		a {
			display: block;
			color: white;
			text-decoration: none;
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
	}
	.footer-copyright-container {
		border-top: 1px solid #ffffff;
		margin-top: 80px;
		padding-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			opacity: 0.75;
		}
		a {
			text-decoration: none;
			color: white;
			opacity: 0.75;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
		}
	}
}

/* 

--------			--------
--------  Adaptive  -------- 
--------			--------

*/

// ------------- Laptop -------------
@media (max-width: 1200px) {
	.small-container {
		padding-left: 80px;
		padding-right: 80px;
	}

	.main {
		.contacts-section {
			.contacts-container {
				flex-direction: column;
				gap: 24px;
				.contacts-wrapper {
					display: flex;
					gap: 36px;
				}
			}
		}
	}
}

// ------------- Tablet -------------
@media (max-width: 992px) {
	.container,
	.small-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.header {
		.header-container {
			display: flex;
			justify-content: flex-end;
			.header-menu {
				display: none;
			}
			.burger-menu-btn {
				display: block;
			}
		}
	}

	.main {
		.projects-section {
			padding-top: 130px;
			.projects-wrapper {
				margin-right: 0px;
				.projects-swiper {
					display: none;
				}
				.projects-tablet-swiper {
					display: block;
					margin-left: 0;
					.swiper-pagination {
						margin-left: -15px;
						.swiper-pagination-bullet-active {
							background: #374836;
						}
					}
				}
				.projects-link-wrapper {
					display: none;
				}
			}
			.project-item {
				.project-item-text-container {
					flex-direction: column;
					gap: 16px;
					.project-item-text-name-and-location {
						flex-direction: column;
						gap: 16px;
					}
					.project-item-text-description {
						width: 100%;
					}
				}
			}
		}
		.contacts-section {
			.contacts-container {
				.contacts-title {
					font-size: 56px;
					line-height: 66px;
				}
				.contacts-wrapper {
					width: 100%;
				}
			}
		}
	}

	.footer {
		.footer-links-container {
			flex-direction: column;
			gap: 12px;
			a {
				margin-bottom: 12px;
			}
			a:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// ------------- Mobile -------------
@media (max-width: 576px) {
	.container,
	.small-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.main {
		.projects-section {
			padding-top: 90px;
			.projects-title {
				font-size: 36px;
				line-height: 46px;
				margin-bottom: 16px;
			}
			.project-item {
				.project-item-text-container {
					margin-top: 16px;
				}
			}
		}
		.contacts-section {
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 24px;
			padding-top: 22px;
			padding-bottom: 30px;
			background-size: 120%;
			background-position: right -100px bottom -50px;
			.contacts-container {
				.contacts-title {
					font-size: 32px;
					line-height: 42px;
				}
				.contacts-wrapper {
					flex-direction: column;
					.contacts-item:first-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.footer {
		padding-top: 19px;
		padding-bottom: 13px;
		.footer-links-container {
			a {
				font-size: 12px;
				line-height: 24px;
			}
		}
		.footer-copyright-container {
			margin-top: 16px;
			padding-top: 32px;
			flex-direction: column-reverse;
			gap: 32px;
			text-align: center;
			line-height: 24px;
		}
	}
}

// ------------- Small Mobile -------------
@media (max-width: 350px) {
	.main {
		.contacts-section {
			.contacts-container {
				.contacts-title {
					font-size: 26px;
					line-height: 36px;
				}
			}
		}
	}
}
